/* common */

.cc-padding-30{
    padding: 30px 0;
}

.cc-padding-50{
    padding: 50px 0;
}

.cc-padding-80{
    padding: 80px 0;
}

.white{
    color: white;
}

.blue{
    color: blue;
}

.blue-text{
    color: #000047;
}

.grey{
    color: #BCCEFF;
}

.titolo{
    font-size: 40px;
}

.sottotitolo{
    font-size: 20px;
    padding-bottom: 50px;
}

/* button */

.btn.cc-btn-white{
    background-color: white;
    border-color: #579AFF;
    color: #579AFF;
}

.btn.cc-btn-blue{
    background-color: #579AFF;
    border-color: #579AFF;
    color: white;
    width: 100%;
}

.btn.cc-btn-google{
    background-color: white;
    border-color: transparent;
    color: grey;
    box-shadow: 1px 1px 1px lightgrey;
    width: 100%;
    margin-top: 20px;
}

/* header */

.cc-header{
    height: 80px;
    color: blue;
    line-height: 80px;
}

.cc-header .logo {
    height: 40px;
}

.cc-header a{
    text-decoration: none;
    color: #031C4E;
    padding-right: 10px;
    font-size: 15px;
}

/* main */

/* products */

#products{
    background-color: #054AFF;
    background-image: url(../img/bg-banner-home.jpg);
    background-position: bottom;
    background-size: cover;
}

.cc-container-products{
    background-color: white;
    border-radius: 10px;
    padding: 20px 0;
}

#products h1{font-size: 60px;}

#products p{
    font-size: 17px;
}

#products h3.blue{
    margin-bottom: 20px;
}

#products .cc-container-products p{
    font-size: 10px;
    margin-top: 20px;
}

/* customers */

#customers{
    background-color: #F3F5F9;
}

#customers h5{
    padding-bottom: 30px;
}

#customers img{
    padding-bottom: 30px;
}

/* configuration */

#configuration .cc-border-left{
    border-left: 1px solid grey;
    color: grey;
    margin-left: 20px;
}

#configuration .cc-border-left p{
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 15px;
}

/* developers */

#developers{
    background-color: #F3F5F9;
}

#developers .titolo{
    padding-bottom: 20px;
}

#developers .carousel{
    width: 50%;
    margin-bottom: 20px;
}

#developers .freccia-sinistra{
    font-size: 50px;
    padding: 30px;
    color: #6F7A97;
}

#developers .freccia-destra{
    font-size: 50px;
    padding: 30px;
    color: #021C4E;
}

#developers .circle{
    color: blue;
}

#developers .circle:active, #developers .circle:hover{
    background-color: blue;
    border-radius: 50%;
}

#developers .visited{
    background-color: blue;
    border-radius: 50%;
}

/* features */

#features .titolo{
    margin-bottom: 50px;
}

#features h5{
    font-size: 18px;
}

#features a{
    text-decoration: none;
}

/* service */

#service{
    background-color: #001E99;
    color: white;
}

#service .cc-border-bottom{
    border-bottom: 1px solid white;
}

/* love */
#love{
    background-color: #F3F5F9;
}

.box{
    height: 200px;
    width: 50%;
    background-color: white;
}

/* account */

#account{
    background-color: #054AFF;
}

/* footer */



